.cardList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  padding-bottom: 10vh;
}

.cardList > a {
  width: 70%;
  max-width: 1300px;
  margin: auto;
  text-decoration: none;
}
