body {
  margin: 0;
  margin-top: 1vh;
}
* {
  margin: 0;
}

.layout {
  width: calc(100vw - 32px);
  max-width: 2000px;
  margin-left: 16px;
}

.layout > header {
  background-color: #62b270;
  padding-bottom: 3vh;
  margin-bottom: 5vh;
}

.layout > header > h1 {
  text-align: center;
  padding: 6vh;
}
