body {
  margin: 0;
}
* {
  margin: 0;
}

.layout {
  width: 95vw;
  max-width: 2000px;
  margin: auto;
}

.layout > header {
  background-color: #62b270;
  padding-bottom: 3vh;
  margin-bottom: 5vh;
}

.layout > header > h1 {
  text-align: center;
  padding: 6vh;
}
