.container {
  width: calc(100vw - 32px);
  max-width: 2000px;
  margin-left: 16px;
  margin: auto;
}

.container > header {
  background-color: #62b270;
  padding-bottom: 4vh;
}

.container > header > h1 {
  text-align: center;
  padding: 6vh;
}

.container > article {
  margin-top: 10vh;
  margin-bottom: 5vh;
}
