.layout {
  position: relative;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4vw;
  margin-top: 20vh;
}

.layout > div {
  padding: 40px;
  background-color: #d6edda;
}
