.card {
  border: dashed 5px lightgray;
  padding: 2vh;
  text-align: start;
  color: darkslategray;
  cursor: pointer;
}

.card:hover {
  border: dashed 5px darkgray;
}

.card h2 {
  margin-bottom: 15px;
  font-size: 2rem;
}

.card > p {
  font-style: italic;
  font-size: 1.1rem;
  color: grey;
}
.card > p > span {
  display: inline-block;
  width: 5%;
}

.card article {
  padding: 2%;
  font-size: 1.1rem;
}
